<ng-template appPlaceholder></ng-template>
<div class="row justify-content-center">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <!-- <app-alert
      [message]="error"
      *ngIf="error"
      (close)="onHandleError()"
    ></app-alert> -->
    <div
      *ngIf="isLoading"
      class="row justify-content-center align-items-center"
      style="height: 30vh; min-height: 120px"
    >
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter email"
          required
          email
          class="form-control"
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          ngModel
          name="password"
          required
          minlength="6"
          class="form-control"
          placeholder="Password"
        />
      </div>
      <div class="btn-group">
        <button
          type="submit"
          class="btn btn-primary btn-responsive"
          [disabled]="!authForm.valid"
        >
          {{ isLoginMode ? "Login" : "Sign Up" }}
        </button>
        <button
          type="button"
          class="btn btn-primary btn-responsive"
          (click)="onSwitchMode()"
        >
          Switch to {{ isLoginMode ? "Sign Up" : "Login" }}
        </button>
      </div>
    </form>
  </div>
</div>
